
.app{
  background: #141414;
  color: white;
}
.container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.moviecard {
  max-width: 350px;
  min-width: 150px;
  max-height: 700px;
  min-height: 270px;
  box-shadow: 10px 5px 5px rgb(128, 50, 50);
  transition: all 0.3s ease;
}
.stars{
  margin-right: 20px;
}
.starss{
  margin-top: 10px;
}
.btn1 {
  margin:5% 40% 1% 45%;
  display: flex;
  justify-content: center;
}